*{
    border : 0px;
    margin : 0px;
    box-sizing: border-box;
}


.container{
    min-height : 100vh;
    width : 100vw;
    overflow-x: hidden;
    background-color: #e2e5e8;
    background-image: linear-gradient(98deg, #e2e5e8 0%, #ffffff 100%);
}

body{
    overflow-y: auto;
}
.navContainer{
    width : 100vw;
    /* background-color: rgb(102, 120, 208); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D037 100%);
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width : 100%;
}
#navList{
    margin-left: 8px;
    margin-right: 8px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    
}

#webLogo{
    margin : 0px;
    font-size: 2.8rem;
    color: aliceblue;
}

a{
    text-decoration: none;
    color : azure;
}

#navItems{
    display: flex;
    gap : 40px;
    margin-right: 24px;
}

.footerBox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D037 100%);
    text-align : center;
    min-height: 40px;
}

.footerBox p{
    color : azure;
    font-size: 2rem;
}

.contentBox{
    width : 55%;
    margin: auto;
    background-color: white;
    display : flex;
    flex-direction: column;
    gap : 100px;
    padding: 3rem;
    box-shadow: 
    0px 0px 30px rgba(0, 0, 0, 0.2),
    0px 0px 30px rgba(0, 0, 0, 0.2);
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.rightBox{
    position : relative;
    overflow: visible;
    transform: all 0.3s linear 0s ;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
   
}

.rightBox img{
    height : 400px;
    border-radius: 20px;
    transition: all 0.5s linear 0s;
    display : block;
}

.rightBox:hover{
    transform: scale(1.15);
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.leftBox h2{
    font-size: 2rem;
}

.ingBox{
    font-size: 1.3rem;
}

.recipeBox{
    font-size: 1.2rem;
}

.rightBox .overlay{
    position : absolute;
    top : 0;
    left : 0;
    height : 100%;
    width : 100%;
    background-color: rgba(52, 48, 48, 0.628);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color : white;
    font-size: 1.2rem;
}